body {
  background-color: #ededed;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  color: #528ab7;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dc2221;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

#SpidermanLogo {
  position: absolute;
  bottom: 80%;
  right: 10px;
  border-radius: 70px;
  color: lightgray;
}

/*Her har jeg laget spindelwew animasjon*/

#spindelWew {
  position: absolute;
  bottom: 82%;
  right: 1600px;
  animation: spindelWew 5s infinite;
}

@keyframes spindelWew {
  0% {
    transform: translate(1500px);
  }
  100% {
    transform: translate(0px);
  }
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.stanLieQuotes {
  position: absolute;
  margin-top: 10%;
  font-size: 50px;
}

:target {
  box-shadow: 0 0 60 rgba(0, 0);
}
